<!DOCTYPE html>
<html>
<head>
	<title>DJ Skills Gap</title>
</head>
<body>
	<h1>Skills gap</h1>
	<form method="POST" action="http://localhost:5000/djresult">
		<select>
			<option value="" name="opt1"> </option> 
			<option value=".Net" name="opt1">.Net </option> 
			<option value="21 CFR" name="opt1">21 CFR </option> 
			<option value=".Net" name="opt1">.Net </option> 
			<option value=".Net" name="opt1">.Net </option> 
			<option value=".Net" name="opt1">.Net </option> 
			<option value=".Net" name="opt1">.Net </option> 
		</select>
		<input type="submit" name="">
	</form>
	
	
</body>
</html>